// Colors

$gray1: #F0F0F0;
$gray2: #E0E0E0;
$black: #2E2E2E;

// Font

$fontsize: 16px; // Body Font Size
$lineheight: 22px; // Body Line Height
$textcolor: $black; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: 'Roboto', sans-serif; // Roboto Font Family